{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
    <style>
    .custom-paragraph {
        margin: 20px auto;
        padding: 0px;
        margin-top: 15px;
        width: 50%;
    }
</style>
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

<style>
    .custom-background {
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

{% block content %}
    <div class="custom-background bg-white custom-shadow rounded">
        <div class="container" style="max-width: 800px; margin-top: 80px; margin-bottom: 90px;>
            <div class="row">
                <div class="col-md-20">
                    <div class="p-4 text-left">
                        <h2>Our Address</h2>
        <p>123 Online Shop St.<br>Shop City, SH 12345</p>
        <h2>Phone</h2>
        <p>(123) 456-7890</p>
        <h2>Email</h2>
        <p>support@onlineshop.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Naomi 2024</p>
    </div>
</footer>
{% endblock %}